@{
    ViewData["Title"] = "Pilot_Task";
}

<div class="text-center">
    <h1 class="display-4">Pilot Task for CanadaHitech</h1>
    <p>Learn about <a href="https://www.linkedin.com/in/khalith-mohamed/">LinkedIn Page URL </a>.</p>
</div>
