@model PilotTask_MVC.Models.UpdateTaskData
@{
}

<html>
<body>
    <h1>Edit Profile</h1>
    <form method="post" action="View" class="mt-5">
        <div class="mb-3">
            <label for="" class="col-form-label">ProfileId</label>
            <input type="number" class="form-control" asp-for="ProfileId" readonly>
        </div>
        <div class="mb-3">
            <label for="" class="col-form-label">TaskName</label>
            <input type="text" class="form-control" asp-for="TaskName">
        </div>
        <div class="mb-3">
            <label for="" class="col-form-label">TaskDescription</label>
            <input type="text" class="form-control" asp-for="TaskDescription">
        </div>
        <div class="mb-3">
            <label for="" class="col-form-label">StartTime</label>
            <input type="date" class="form-control" asp-for="StartTime">
        </div>
        <div class="mb-3">
            <label for="" class="col-form-label">Status</label>
            <input type="number" class="form-control" asp-for="Status">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</body>
</html>
